.img-fluid {
    width: 12em;
    padding-left: 30px;
    
}

.bio {
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

h3 {
    font-family: 'Impact', fantasy;
}

body {
    background-color: #dbc1ac;
    color: #38220f;
    font-family: 'American Typewriter';
  }

a:link {
    color: #a2632c;
}

  @media screen and (max-width: 768px){
    .bio {
        padding-top: 16px;
        padding-left: 30px;
    }
}