/* .logo-one {
    width: 2.5em;
    padding-top: 5px;
}

.logo-two {
    width: 3em;
}

 .footer {
    position: fixed;
    bottom: 0;
    width: 185%;
 }


 @media screen and (max-width: 768px){
    .footer {
        width: 100%;
    }
} */