section ul {
    list-style: none;
}

.card {
    padding: 2px;
    margin: 20px;
    /* background-color: #38220f; */
    background-color: #5F4029;
}

.github-image {
    width: 2em;
}

.image {
    width: 37em;
}

.project-title { 
    font-size: 30px;
    color: #D4B59E;
}

.project-description {
    color: #D4B59E;
}

.project-info {
    text-align: center;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project-section {
    position: relative;
    margin: 5px;
}

@media screen and (max-width: 768px){
    .image {
        width: 30rem;
    }

    .projects {
        padding-right: 35px;
    }

    .project-title { 
        font-size: 20px;
    }

    .github-image {
        width: 1.5em;
    }
}