.resume-link {
    display: flex;
    justify-content: center;
}

.resume-link:hover {
    color:#01796f;
}

.front-end {
    padding: 40px;
}

.back-end {
    padding: 40px;
}

.front-list {
    list-style: square;
}

.back-list {
    list-style: square;
}