.resume-link {
    display: flex;
    justify-content: center;
}

.resume-link:hover {
    color:#01796f;
}

.front-end {
    padding: 40px;
}

.back-end {
    padding: 40px;
}

.front-list {
    list-style: square;
}

.back-list {
    list-style: square;
}

.social-links {
    text-align: center;
}

.linkedin-link {
    padding-right: 15px;
    color: #38220f;
}

.linkedin-link:hover {
    color: #01796f;
}

.github-link {
    color: #38220f;
}

.github-link:hover {
    color: #01796f;
}

@media screen and (max-width: 768px){
    .resume-title {
        padding-right: 40px;
    }
}