.ui-projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

a.web-link {
    color: black;
    padding-right: 20px;
}

a.web-link:hover {
    color:#01796f;
  }

  @media screen and (max-width: 768px){
    .card {
        margin-right: 40px;
    }
}