.selfie {
    width: 12em;
    border-radius: 60%;
    float: left;
    padding-right: 10px;
}

.bio {
    padding-top: 40px;
    padding-right: 18px;
}

.about-me {
    padding: 50px;
}

h3 {
    padding-left: 30px;
    padding-bottom: 20px;
}