.selfie {
    width: 12em;
    border-radius: 60%;
    float: left;
    padding-left: 15px;

}

.bio {
    padding-top: 40px;
    padding-right: 18px;
}

h3 {
    font-family: 'Impact', fantasy;
}

p {
    font-family: 'American Typewriter'
}
