.selfie {
    width: 12em;
    border-radius: 60%;
    float: left;
    padding-left: 15px;

}

.bio {
    padding-top: 40px;
    padding-right: 18px;
}

h3 {
    font-family: 'Impact', fantasy;
}

body {
    background-color: #dbc1ac;
    color: #38220f;
    font-family: 'American Typewriter';
  }

  @media screen and (max-width: 768px){
    .bio {
        padding-top: 16px;
        padding-left: 30px;
    }
}